body {
    background-color: black;
    color: lavenderblush;
    margin: 0;
    font-family: cursive, sans-serif;
    box-sizing: border-box;
}

.container{
    margin: 20px;
    padding: 30px;
    border-radius: 20px;
    background-color: #003;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}