*{
    margin: 0px;
    box-sizing: border-box;
}

/* Body */
body {
    background-color: black;
    color: lavenderblush;
    padding: 0;
    font-family: cursive, sans-serif;
    box-sizing: border-box;
}

/* Container */
.container{
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: #003;
}

/* Nav container */
.navContainer{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

/* navbar */
nav{
    padding: 10px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    border: 1px solid #7CF5FF;
    border-radius: 30px;
}

nav a{
    color: #7CF5FF;
    text-decoration: none;
}

/* Hero container */
.heroContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

/* DevImage */
.heroImage{
    max-width: 50%;
    min-height: 40%;
    display: flex;
    justify-content: center;
}

.heroImage .developerImage{
    display: flex;
    justify-content: center;
}

.developerImage img{
    max-width: 70%;
    object-fit: fill;
    border-radius: 50%;
}

/* Header */
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    border: 1px solid red;
}

.header h1,h3{
    margin: 4px;
}

.header .headerHighlight{
    color: #7CF5FF;
}

/* About */

.about{
    width: 100%;
    height: 70%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid red;
}

.aboutBox{
    margin: 3px;
    min-width: 20%;
    max-width: 60%;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: lightseagreen;
}

/* ṭechStack */

.techStack{
    width: 100%;
    height: 70%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid red;
}

.techContainer{
    min-width: 20%;
    height: 100px;
    padding: 10px;
    border-radius: 20px;
    margin: 3px;
    background-color: gray;
}

/* Projects */

.projects{
    width: 100%;
    height: 70%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid red;
}

.projectBox{
    min-width: 20%;
    height: 100px;
    padding: 10px;
    border-radius: 20px;
    margin: 3px;
    background-color: gray;
}

/* Contact placeholder */

.contact{
    width: 100%;
    height: 70%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid red;
}