<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUDWithEjs</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <h1>Assalamwalaikum</h1>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
        <form action="">
            <input class="px-5 py-2 bg-transparent rounded-lg border-2 border-blue-800 outline-none" type="text" placeholder="Name">
            <input class="px-5 py-2 bg-transparent rounded-lg border-2 border-blue-800 outline-none" type="text" placeholder="Email">
            <input class="px-5 py-2 bg-transparent rounded-lg border-2 border-blue-800 outline-none" type="text" placeholder="Img Url">
            <input class="px-5 py-2 bg-blue-500 rounded-md" type="submit" value="Create User">
        </form>
    </div>
</body>
</html>