<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUDWithEjs</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <h1>Assalamwalaikum</h1>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
      <div class="nav mb-10 text-blue-600">
        <a href="/read">All users</a>
      </div>

      <form action="/create" method="post">
        <input
          class="px-5 py-2 bg-transparent rounded-lg border-2 hover:border-blue-800 transition-colors ease-in outline-none"
          type="text"
          placeholder="Name"
          name="name"
        />
        <input
          class="px-5 py-2 bg-transparent rounded-lg border-2 hover:border-blue-800 transition-colors ease-in outline-none"
          type="text"
          placeholder="Email"
          name="email"
        />
        <input
          class="px-5 py-2 bg-transparent rounded-lg border-2 hover:border-blue-800 transition-colors ease-in outline-none"
          type="text"
          placeholder="Img Url"
          name="image"
        />
        <input
          class="px-5 py-2 bg-blue-500 rounded-md"
          type="submit"
          value="Create User"
        />
      </form>
    </div>
  </body>
</html>
