<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dairy App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <h1>Assalamwalaikum</h1>
    <div class="container">
      <a class="text-blue-600 text-sm" href="/">Fall Back to the Home</a>
      <h1><%= file %></h1>
      <p class="text-white"><%= data %></p>
    </div>
  </body>
</html>
